<script>
  import '../app.css';
  import Header from '$lib/components/Header.svelte';
  import Footer from '$lib/components/Footer.svelte';

  let author = 'Ishi Inanis';
</script>

<svelte:head>
  <!-- TODO: Что это? -->
  <!--  <meta name="robots" content="noindex"> -->
  <script>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
      localStorage.theme = 'dark';
    } else {
      document.documentElement.classList.remove('dark');
      localStorage.theme = 'light';
    }
  </script>
</svelte:head>

<!-- TODO: шапка и подвал если не ошибка -->
<Header/>

<main class="font-jetbrains grow">
  <slot/>
</main>

<Footer {author}/>