<script context="module">
  /** @type {import('@sveltejs/kit').Load} */
  export async function load({ params, fetch, session, stuff }) {
    console.log(params.username);
    const res = await fetch(`/profile/@${params.username}.json`);

    if (res.ok) return { props: { user: await res.json() } };
    return {
      status: res.status,
      error: new Error()
    };
  }
</script>

<script>
  export let user;
</script>

<svelte:head>
  <title>Профиль {user.username}</title>
</svelte:head>

<article class="flex gap-4 my-4 p-4">
  <img class="w-60 object-cover" src={user.avatar} alt={user.username}/>
  <h1 class="text-4xl text-center">{user.username}</h1>
</article>