<script context="module">
  /** @type {import('@sveltejs/kit').Load} */
  // export async function load({ fetch }) {
  //   const res = await fetch('/api');

  // if (res.ok) return { props: { users: await res.json() } };
  // return {
  //   status: res.status,
  //   error: new Error()
  // };
  // }
</script>

<script>
  import { onMount } from 'svelte';

  // export let users;
  let users = [];

  onMount(async () => {
    const res = await fetch('/profile.json');

    if (res.ok) users = await res.json();
  });
</script>

<svelte:head>
  <title>Профили</title>
</svelte:head>

<h1 class="text-xl text-center p-4">Профили</h1>

<section class="flex flex-wrap justify-center gap-8 p-4">
  {#each users as { avatar, lastName }}
    <a href={`/profile/@${lastName}`}
       class="shadow-md p-4 hover:shadow-xl transition duration-100 rounded-xl border border-2 border-gray-300">
      <img class="w-60 object-cover" src={avatar} alt={lastName}/>
      <h2 class="text-center mt-2">{lastName}</h2>
    </a>
  {:else}
    <article class="grid gap-4 justify-items-center">
      <svg class="animate-spin h-5 w-5 text-black dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
           viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <div class="p-4 rounded-xl border border-2 border-gray-300">
        <div class="animate-pulse">
          <div class="w-60 h-60 bg-gray-400 rounded"></div>
          <div class="m-2 h-4 bg-gray-400 rounded"></div>
        </div>
      </div>
    </article>
  {/each}
</section>