<script>
  import Nav from '$lib/components/Nav.svelte';

  function changeTheme() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      localStorage.theme = 'light';
    } else {
      document.documentElement.classList.add('dark');
      localStorage.theme = 'dark';
    }
    // localStorage.removeItem('theme');
  }
</script>

<header class="font-jetbrains flex gap-8 p-2 shadow-lg items-center flex">
  <a href="/">
    <img class="w-10 h-10" src="/logo.svg" alt="logo">
  </a>
  <Nav/>
  <button on:click={changeTheme} class="p-2 bg-red-600 text-white rounded flex-shrink-0">Сменить тему</button>
</header>