<script>
  import Link from '$lib/components/Link.svelte';
  import { links } from '$lib/store/vars';
  import { page } from '$app/stores';
</script>

<nav class="flex gap-4 items-center">
  {#each links as { name, href }}
    <Link {href} classes={$page.url.pathname === href ? 'underline decoration-gray-300 decoration-2' : ''}>{name}</Link>
  {/each}
</nav>